#title:hover{
    color: #171818 !important;
    cursor: pointer;
}
.houseQuickReservationCard {
    transition: transform .2s; /* Animation */
}

.houseQuickReservationCard:hover {
    transform: scale(1.1);
}
