#title:hover{
    color: #171818 !important;
    cursor: pointer;
}
.houseQuickReservationCard {
    transition: transform .2s; /* Animation */
}

.houseQuickReservationCard:hover {
    transform: scale(1.1);
}
.quick-reservation-carousel li {
    min-width: 47vh;
    margin-right: 3vh;
}

#house .e-time-icon {
    display: none !important;
}