

.hero-img {
    height: 75vh;
    width: 100vw;
    object-fit: cover;
    transform: translateY(-8.5vh);
    z-index: 1;
}

.search {
    transform: translateY(-30vh);
}
.main {
    transform: translateY(-10vh);
}
.title {
    transform: translateY(-30vh);
    color: #fff;
    text-align: center;

}
